In [1]:
import pandas as pd
import numpy as np

pd.set_option('mode.chained_assignment', None)

df = pd.read_csv(r"E:\Tung\Python\VcreamProject\cache\ALL.csv")

df.drop(['Unnamed: 0'], axis = 1, inplace=True)

ROC: Rate of change

ROC=[((Close price today - Close price "n" days ago)/Close price "n" days ago))]

n = 5, 10, 20, 40, 80 days

In [6]:
vcb = df.loc[df['Ticker'] == 'VCB']
vcb.head(10)

        Ticker        Date     Open     High      Low    Close   Volume
2026933    VCB  2009-06-30  16.2420  16.2420  16.2420  16.2452   294070
2026934    VCB  2009-07-01  17.0541  17.0541  16.1067  16.3806  6248390
2026935    VCB  2009-07-02  16.1067  16.2420  15.5653  15.7037  1515670
2026936    VCB  2009-07-03  15.2946  15.4299  15.1592  15.1622   899720
2026937    VCB  2009-07-06  15.1592  15.8360  15.1592  15.8391  1571740
2026938    VCB  2009-07-07  15.5653  15.7006  15.2946  15.2976  1115420
2026939    VCB  2009-07-08  14.8885  15.1592  14.7532  15.0269   763030
2026940    VCB  2009-07-09  14.7532  15.1592  14.4825  14.6207   982430
2026941    VCB  2009-07-10  14.3471  14.4825  13.9411  13.9438  1973450
2026942    VCB  2009-07-13  13.5350  13.9411  13.2643  13.2670   812260

In [13]:
vcb['roc_5'] = vcb['Close'].diff(5)/vcb['Close'].shift(5)
vcb['roc_10'] = vcb['Close'].diff(10)/vcb['Close'].shift(10)
vcb['roc_20'] = vcb['Close'].diff(20)/vcb['Close'].shift(20)

vcb.head(20)

,Ticker,Date,Open,High,Low,Close,Volume,roc_5,roc_10,roc_20
2026933,VCB,2009-06-30,16.2420,16.2420,16.2420,16.2452,294070,NaN,NaN,NaN
2026934,VCB,2009-07-01,17.0541,17.0541,16.1067,16.3806,6248390,NaN,NaN,NaN
2026935,VCB,2009-07-02,16.1067,16.2420,15.5653,15.7037,1515670,NaN,NaN,NaN
2026936,VCB,2009-07-03,15.2946,15.4299,15.1592,15.1622,899720,NaN,NaN,NaN
2026937,VCB,2009-07-06,15.1592,15.8360,15.1592,15.8391,1571740,NaN,NaN,NaN
2026938,VCB,2009-07-07,15.5653,15.7006,15.2946,15.2976,1115420,-0.058331,NaN,NaN
2026939,VCB,2009-07-08,14.8885,15.1592,14.7532,15.0269,763030,-0.082640,NaN,NaN
2026940,VCB,2009-07-09,14.7532,15.1592,14.4825,14.6207,982430,-0.068965,NaN,NaN
2026941,VCB,2009-07-10,14.3471,14.4825,13.9411,13.9438,1973450,-0.080358,NaN,NaN
2026942,VCB,2009-07-13,13.5350,13.9411,13.2643,13.2670,812260,-0.162389,NaN,NaN
2026943,VCB,2009-07-14,13.3184,13.3184,12.8583,12.9420,847840,-0.153985,-0.203334,NaN
2026944,VCB,2009-07-15,12.9936,13.4809,12.9936,13.2670,807250,-0.117117,-0.190079,NaN
2026945,VCB,2009-07-16,13.5350,13.5350,13.3726,13.4836,638990,-0.077773,-0.141374,NaN
2026946,VCB,2009-07-17,13.3997,13.4538,13.2102,13.2940,311000,-0.046601,-0.123214,NaN
2026947,VCB,2009-07-20,12.7500,12.8041,12.6417,12.6713,869220,-0.044901,-0.199999,NaN
2026948,VCB,2009-07-21,12.7770,12.9124,12.6688,12.6984,483900,-0.018822,-0.169909,NaN
2026949,VCB,2009-07-22,12.8583,12.8853,12.7770,12.8608,411780,-0.030617,-0.144148,NaN
2026950,VCB,2009-07-23,12.7229,13.4809,12.7229,13.4836,929090,0.000000,-0.077773,NaN
2026951,VCB,2009-07-24,14.0764,14.0764,14.0764,14.0792,624760,0.059064,0.009710,NaN
2026952,VCB,2009-07-27,14.7532,14.7532,14.2118,14.7561,1535460,0.164529,0.112241,NaN

In [9]:
df['roc_5'] = df.groupby('Ticker')['Close'].diff(5)/df.groupby('Ticker')['Close'].shift(5)
df['roc_10'] = df.groupby('Ticker')['Close'].diff(10)/df.groupby('Ticker')['Close'].shift(10)
df['roc_20'] = df.groupby('Ticker')['Close'].diff(20)/df.groupby('Ticker')['Close'].shift(20)
df['roc_40'] = df.groupby('Ticker')['Close'].diff(40)/df.groupby('Ticker')['Close'].shift(40)
df['roc_80'] = df.groupby('Ticker')['Close'].diff(80)/df.groupby('Ticker')['Close'].shift(80)

df

,Ticker,Date,Open,High,Low,Close,Volume,roc_5,roc_10,roc_20,roc_40,roc_80
0,A32,2018-11-29,22.9056,22.9056,22.9056,22.9076,1000,NaN,NaN,NaN,NaN,NaN
1,A32,2018-12-03,22.9056,22.9056,22.9056,22.9076,100,NaN,NaN,NaN,NaN,NaN
2,A32,2018-12-04,20.0424,20.0424,20.0424,20.0441,2000,NaN,NaN,NaN,NaN,NaN
3,A32,2018-12-21,21.6172,21.6172,21.6172,21.6190,100,NaN,NaN,NaN,NaN,NaN
4,A32,2019-01-02,22.9056,22.9056,22.9056,22.9076,100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2274182,YTC,2022-05-12,68.0000,68.0000,68.0000,68.0000,100,-0.087248,0.192982,0.214286,-0.150000,-0.071038
2274183,YTC,2022-06-15,66.0000,66.0000,65.0000,65.0000,200,-0.133333,0.083333,0.160714,-0.189526,-0.186483
2274184,YTC,2022-06-24,65.5000,65.5000,65.5000,65.5000,10,-0.124332,0.091667,0.336735,-0.183292,-0.064286
2274185,YTC,2022-09-05,65.5000,65.5000,65.5000,65.5000,200,-0.124332,-0.035346,0.566986,-0.229412,-0.181250
2274186,YTC,2022-10-04,65.5000,65.5000,65.5000,65.5000,1,-0.124332,-0.007576,0.839888,0.073770,-0.238372

In [11]:
df.loc[df['Ticker'] == 'VCB'].head(20)

,Ticker,Date,Open,High,Low,Close,Volume,roc_5,roc_10,roc_20,roc_40,roc_80
2026933,VCB,2009-06-30,16.2420,16.2420,16.2420,16.2452,294070,NaN,NaN,NaN,NaN,NaN
2026934,VCB,2009-07-01,17.0541,17.0541,16.1067,16.3806,6248390,NaN,NaN,NaN,NaN,NaN
2026935,VCB,2009-07-02,16.1067,16.2420,15.5653,15.7037,1515670,NaN,NaN,NaN,NaN,NaN
2026936,VCB,2009-07-03,15.2946,15.4299,15.1592,15.1622,899720,NaN,NaN,NaN,NaN,NaN
2026937,VCB,2009-07-06,15.1592,15.8360,15.1592,15.8391,1571740,NaN,NaN,NaN,NaN,NaN
2026938,VCB,2009-07-07,15.5653,15.7006,15.2946,15.2976,1115420,-0.058331,NaN,NaN,NaN,NaN
2026939,VCB,2009-07-08,14.8885,15.1592,14.7532,15.0269,763030,-0.082640,NaN,NaN,NaN,NaN
2026940,VCB,2009-07-09,14.7532,15.1592,14.4825,14.6207,982430,-0.068965,NaN,NaN,NaN,NaN
2026941,VCB,2009-07-10,14.3471,14.4825,13.9411,13.9438,1973450,-0.080358,NaN,NaN,NaN,NaN
2026942,VCB,2009-07-13,13.5350,13.9411,13.2643,13.2670,812260,-0.162389,NaN,NaN,NaN,NaN
2026943,VCB,2009-07-14,13.3184,13.3184,12.8583,12.9420,847840,-0.153985,-0.203334,NaN,NaN,NaN
2026944,VCB,2009-07-15,12.9936,13.4809,12.9936,13.2670,807250,-0.117117,-0.190079,NaN,NaN,NaN
2026945,VCB,2009-07-16,13.5350,13.5350,13.3726,13.4836,638990,-0.077773,-0.141374,NaN,NaN,NaN
2026946,VCB,2009-07-17,13.3997,13.4538,13.2102,13.2940,311000,-0.046601,-0.123214,NaN,NaN,NaN
2026947,VCB,2009-07-20,12.7500,12.8041,12.6417,12.6713,869220,-0.044901,-0.199999,NaN,NaN,NaN
2026948,VCB,2009-07-21,12.7770,12.9124,12.6688,12.6984,483900,-0.018822,-0.169909,NaN,NaN,NaN
2026949,VCB,2009-07-22,12.8583,12.8853,12.7770,12.8608,411780,-0.030617,-0.144148,NaN,NaN,NaN
2026950,VCB,2009-07-23,12.7229,13.4809,12.7229,13.4836,929090,0.000000,-0.077773,NaN,NaN,NaN
2026951,VCB,2009-07-24,14.0764,14.0764,14.0764,14.0792,624760,0.059064,0.009710,NaN,NaN,NaN
2026952,VCB,2009-07-27,14.7532,14.7532,14.2118,14.7561,1535460,0.164529,0.112241,NaN,NaN,NaN

In [2]:
def roc(panel_data):
    panel_data['roc_5'] = panel_data.groupby('Ticker')['Close'].diff(5)/panel_data.groupby('Ticker')['Close'].shift(5)
    panel_data['roc_10'] = panel_data.groupby('Ticker')['Close'].diff(10)/panel_data.groupby('Ticker')['Close'].shift(10)
    panel_data['roc_20'] = panel_data.groupby('Ticker')['Close'].diff(20)/panel_data.groupby('Ticker')['Close'].shift(20)
    panel_data['roc_40'] = panel_data.groupby('Ticker')['Close'].diff(40)/panel_data.groupby('Ticker')['Close'].shift(40)
    panel_data['roc_80'] = panel_data.groupby('Ticker')['Close'].diff(80)/panel_data.groupby('Ticker')['Close'].shift(80)

    return panel_data

In [3]:
df = roc(panel_data=df)
df

,Ticker,Date,Open,High,Low,Close,Volume,roc_5,roc_10,roc_20,roc_40,roc_80
0,A32,2018-11-29,22.9056,22.9056,22.9056,22.9076,1000,NaN,NaN,NaN,NaN,NaN
1,A32,2018-12-03,22.9056,22.9056,22.9056,22.9076,100,NaN,NaN,NaN,NaN,NaN
2,A32,2018-12-04,20.0424,20.0424,20.0424,20.0441,2000,NaN,NaN,NaN,NaN,NaN
3,A32,2018-12-21,21.6172,21.6172,21.6172,21.6190,100,NaN,NaN,NaN,NaN,NaN
4,A32,2019-01-02,22.9056,22.9056,22.9056,22.9076,100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2274182,YTC,2022-05-12,68.0000,68.0000,68.0000,68.0000,100,-0.087248,0.192982,0.214286,-0.150000,-0.071038
2274183,YTC,2022-06-15,66.0000,66.0000,65.0000,65.0000,200,-0.133333,0.083333,0.160714,-0.189526,-0.186483
2274184,YTC,2022-06-24,65.5000,65.5000,65.5000,65.5000,10,-0.124332,0.091667,0.336735,-0.183292,-0.064286
2274185,YTC,2022-09-05,65.5000,65.5000,65.5000,65.5000,200,-0.124332,-0.035346,0.566986,-0.229412,-0.181250
2274186,YTC,2022-10-04,65.5000,65.5000,65.5000,65.5000,1,-0.124332,-0.007576,0.839888,0.073770,-0.238372