In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"E:\Tung\Python\VcreamProject\cache\ALL.csv")

df.drop(['Unnamed: 0'], axis = 1, inplace=True)

Bollinger Bands: MA10, MA20, MA30

In [3]:
df["ma_10"] = df.groupby('Ticker')['Close'].rolling(10, min_periods=1).mean().reset_index(drop=True).to_list()
df["upper_b10"] = df["ma_10"] + df.groupby('Ticker')['Close'].rolling(10, min_periods=1).std().reset_index(drop=True).to_list()
df["lower_b10"] = df["ma_10"] - df.groupby('Ticker')['Close'].rolling(10, min_periods=1).std().reset_index(drop=True).to_list()

df["ma_20"] = df.groupby('Ticker')['Close'].rolling(20, min_periods=1).mean().reset_index(drop=True).to_list()
df["upper_b20"] = df["ma_20"] + df.groupby('Ticker')['Close'].rolling(20, min_periods=1).std().reset_index(drop=True).to_list()
df["lower_b20"] = df["ma_20"] - df.groupby('Ticker')['Close'].rolling(20, min_periods=1).std().reset_index(drop=True).to_list()

df["ma_30"] = df.groupby('Ticker')['Close'].rolling(30, min_periods=1).mean().reset_index(drop=True).to_list()
df["upper_b30"] = df["ma_30"] + df.groupby('Ticker')['Close'].rolling(30, min_periods=1).std().reset_index(drop=True).to_list()
df["lower_b30"] = df["ma_30"] - df.groupby('Ticker')['Close'].rolling(30, min_periods=1).std().reset_index(drop=True).to_list()

In [4]:
df

,Ticker,Date,Open,High,Low,Close,Volume,ma_10,upper_b10,lower_b10,ma_20,upper_b20,lower_b20,ma_30,upper_b30,lower_b30
0,A32,2018-11-29,22.9056,22.9056,22.9056,22.9076,1000,22.907600,NaN,NaN,22.907600,NaN,NaN,22.907600,NaN,NaN
1,A32,2018-12-03,22.9056,22.9056,22.9056,22.9076,100,22.907600,22.907600,22.907600,22.907600,22.907600,22.907600,22.907600,22.907600,22.907600
2,A32,2018-12-04,20.0424,20.0424,20.0424,20.0441,2000,21.953100,23.606342,20.299858,21.953100,23.606342,20.299858,21.953100,23.606342,20.299858
3,A32,2018-12-21,21.6172,21.6172,21.6172,21.6190,100,21.869575,23.229739,20.509411,21.869575,23.229739,20.509411,21.869575,23.229739,20.509411
4,A32,2019-01-02,22.9056,22.9056,22.9056,22.9076,100,22.077180,23.343290,20.811070,22.077180,23.343290,20.811070,22.077180,23.343290,20.811070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274182,YTC,2022-05-12,68.0000,68.0000,68.0000,68.0000,100,69.580000,75.699332,63.460668,59.255000,71.787252,46.722748,60.076667,70.872665,49.280669
2274183,YTC,2022-06-15,66.0000,66.0000,65.0000,65.0000,200,70.080000,75.493112,64.666888,59.705000,72.275746,47.134254,59.760000,70.253433,49.266567
2274184,YTC,2022-06-24,65.5000,65.5000,65.5000,65.5000,10,70.630000,75.102894,66.157106,60.530000,72.901066,48.158934,59.730000,70.205066,49.254934
2274185,YTC,2022-09-05,65.5000,65.5000,65.5000,65.5000,200,70.390000,75.084548,65.695452,61.715000,73.308159,50.121841,59.676667,70.116930,49.236404
2274186,YTC,2022-10-04,65.5000,65.5000,65.5000,65.5000,1,70.340000,75.088848,65.591152,63.210000,73.054202,53.365798,59.856667,70.350891,49.362442