In [1]:
import pandas as pd
import numpy as np

pd.set_option('mode.chained_assignment', None)

df = pd.read_csv(r"E:\Tung\Python\VcreamProject\cache\ALL.csv")

df.drop(['Unnamed: 0'], axis = 1, inplace=True)

In [2]:
df

        Ticker        Date     Open     High      Low    Close  Volume
0          A32  2018-11-29  22.9056  22.9056  22.9056  22.9076    1000
1          A32  2018-12-03  22.9056  22.9056  22.9056  22.9076     100
2          A32  2018-12-04  20.0424  20.0424  20.0424  20.0441    2000
3          A32  2018-12-21  21.6172  21.6172  21.6172  21.6190     100
4          A32  2019-01-02  22.9056  22.9056  22.9056  22.9076     100
...        ...         ...      ...      ...      ...      ...     ...
2276360    YTC  2022-05-12  68.0000  68.0000  68.0000  68.0000     100
2276361    YTC  2022-06-15  66.0000  66.0000  65.0000  65.0000     200
2276362    YTC  2022-06-24  65.5000  65.5000  65.5000  65.5000      10
2276363    YTC  2022-09-05  65.5000  65.5000  65.5000  65.5000     200
2276364    YTC  2022-10-04  65.5000  65.5000  65.5000  65.5000       1

[2276365 rows x 7 columns]