In [56]:
import pandas as pd
import numpy as np

pd.set_option('mode.chained_assignment', None)

df = pd.read_csv(r"E:\Tung\Python\VcreamProject\cache\ALL.csv")

df.drop(['Unnamed: 0'], axis = 1, inplace=True)

In [57]:
df = df.round(2)

In [58]:
vcb = df.loc[df['Ticker'] == 'VCB']
vcb

        Ticker        Date   Open   High    Low  Close   Volume
2028904    VCB  2009-06-30  16.24  16.24  16.24  16.25   294070
2028905    VCB  2009-07-01  17.05  17.05  16.11  16.38  6248390
2028906    VCB  2009-07-02  16.11  16.24  15.57  15.70  1515670
2028907    VCB  2009-07-03  15.29  15.43  15.16  15.16   899720
2028908    VCB  2009-07-06  15.16  15.84  15.16  15.84  1571740
...        ...         ...    ...    ...    ...    ...      ...
2032221    VCB  2022-10-12  63.00  65.30  62.20  64.00  1517400
2032222    VCB  2022-10-13  64.10  66.50  62.70  66.50  1596800
2032223    VCB  2022-10-14  68.50  68.50  67.30  68.10  1599300
2032224    VCB  2022-10-17  67.30  68.00  65.50  66.30  1241400
2032225    VCB  2022-10-18  68.00  68.00  67.30  67.70   885000

[3322 rows x 7 columns]

In [59]:
for index, row in vcb.iterrows():
    if row['High'] != row['Low']:
        ac = ((row['Close'] - row['Low']) - (row['High'] - row['Close']))/(row['High'] - row['Low']) * row['Volume']
    else:
        ac = 0
    vcb.at[index, 'mf_volume'] = ac

vcb

        Ticker        Date   Open   High    Low  Close   Volume     mf_volume
2028904    VCB  2009-06-30  16.24  16.24  16.24  16.25   294070  0.000000e+00
2028905    VCB  2009-07-01  17.05  17.05  16.11  16.38  6248390 -2.658889e+06
2028906    VCB  2009-07-02  16.11  16.24  15.57  15.70  1515670 -9.274996e+05
2028907    VCB  2009-07-03  15.29  15.43  15.16  15.16   899720 -8.997200e+05
2028908    VCB  2009-07-06  15.16  15.84  15.16  15.84  1571740  1.571740e+06
...        ...         ...    ...    ...    ...    ...      ...           ...
2032221    VCB  2022-10-12  63.00  65.30  62.20  64.00  1517400  2.447419e+05
2032222    VCB  2022-10-13  64.10  66.50  62.70  66.50  1596800  1.596800e+06
2032223    VCB  2022-10-14  68.50  68.50  67.30  68.10  1599300  5.331000e+05
2032224    VCB  2022-10-17  67.30  68.00  65.50  66.30  1241400 -4.469040e+05
2032225    VCB  2022-10-18  68.00  68.00  67.30  67.70   885000  1.264286e+05

[3322 rows x 8 columns]

In [60]:
vcb['acc_dist line'] = vcb['mf_volume'].cumsum()
vcb

,Ticker,Date,Open,High,Low,Close,Volume,mf_volume,acc_dist line
2028904,VCB,2009-06-30,16.24,16.24,16.24,16.25,294070,0.000000e+00,0.000000e+00
2028905,VCB,2009-07-01,17.05,17.05,16.11,16.38,6248390,-2.658889e+06,-2.658889e+06
2028906,VCB,2009-07-02,16.11,16.24,15.57,15.70,1515670,-9.274996e+05,-3.586389e+06
2028907,VCB,2009-07-03,15.29,15.43,15.16,15.16,899720,-8.997200e+05,-4.486109e+06
2028908,VCB,2009-07-06,15.16,15.84,15.16,15.84,1571740,1.571740e+06,-2.914369e+06
...,...,...,...,...,...,...,...,...,...
2032221,VCB,2022-10-12,63.00,65.30,62.20,64.00,1517400,2.447419e+05,-3.485093e+06
2032222,VCB,2022-10-13,64.10,66.50,62.70,66.50,1596800,1.596800e+06,-1.888293e+06
2032223,VCB,2022-10-14,68.50,68.50,67.30,68.10,1599300,5.331000e+05,-1.355193e+06
2032224,VCB,2022-10-17,67.30,68.00,65.50,66.30,1241400,-4.469040e+05,-1.802097e+06
2032225,VCB,2022-10-18,68.00,68.00,67.30,67.70,885000,1.264286e+05,-1.675669e+06

In [61]:
def accumulation_distribution(panel_data):
    for index, row in panel_data.iterrows():
        if row['High'] != row['Low']:
            ac = ((row['Close'] - row['Low']) - (row['High'] - row['Close']))/(row['High'] - row['Low']) * row['Volume']
        else:
            ac = 0
        panel_data.at[index, 'mf_volume'] = ac
    
    panel_data['acc_dist_line'] = panel_data.groupby('Ticker')['mf_volume'].cumsum()
    
    del panel_data['mf_volume']
    
    return panel_data

In [62]:
df = accumulation_distribution(panel_data=df)
df

        Ticker        Date   Open   High    Low  Close  Volume  acc_dist_line
0          A32  2018-11-29  22.91  22.91  22.91  22.91    1000       0.000000
1          A32  2018-12-03  22.91  22.91  22.91  22.91     100       0.000000
2          A32  2018-12-04  20.04  20.04  20.04  20.04    2000       0.000000
3          A32  2018-12-21  21.62  21.62  21.62  21.62     100       0.000000
4          A32  2019-01-02  22.91  22.91  22.91  22.91     100       0.000000
...        ...         ...    ...    ...    ...    ...     ...            ...
2276360    YTC  2022-05-12  68.00  68.00  68.00  68.00     100  156740.187274
2276361    YTC  2022-06-15  66.00  66.00  65.00  65.00     200  156540.187274
2276362    YTC  2022-06-24  65.50  65.50  65.50  65.50      10  156540.187274
2276363    YTC  2022-09-05  65.50  65.50  65.50  65.50     200  156540.187274
2276364    YTC  2022-10-04  65.50  65.50  65.50  65.50       1  156540.187274

[2276365 rows x 8 columns]

In [63]:
df.loc[df['Ticker'] == 'VCB']

        Ticker        Date   Open   High    Low  Close   Volume  acc_dist_line
2028904    VCB  2009-06-30  16.24  16.24  16.24  16.25   294070   0.000000e+00
2028905    VCB  2009-07-01  17.05  17.05  16.11  16.38  6248390  -2.658889e+06
2028906    VCB  2009-07-02  16.11  16.24  15.57  15.70  1515670  -3.586389e+06
2028907    VCB  2009-07-03  15.29  15.43  15.16  15.16   899720  -4.486109e+06
2028908    VCB  2009-07-06  15.16  15.84  15.16  15.84  1571740  -2.914369e+06
...        ...         ...    ...    ...    ...    ...      ...            ...
2032221    VCB  2022-10-12  63.00  65.30  62.20  64.00  1517400  -3.485093e+06
2032222    VCB  2022-10-13  64.10  66.50  62.70  66.50  1596800  -1.888293e+06
2032223    VCB  2022-10-14  68.50  68.50  67.30  68.10  1599300  -1.355193e+06
2032224    VCB  2022-10-17  67.30  68.00  65.50  66.30  1241400  -1.802097e+06
2032225    VCB  2022-10-18  68.00  68.00  67.30  67.70   885000  -1.675669e+06

[3322 rows x 8 columns]